# Dependencias
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Entornos y variables
.env
.env.local

# Archivos del sistema
.DS_Store
Thumbs.db

# Carpetas de distribución / build (si se agregara Vite o similar más adelante)
dist/
build/
.next/
